@model CommonLayer.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-12">
<form asp-action="Details" class="form">

<div>
    <h3 class="form-head">Employee Details</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>
        <dd class = "col-sm-9">
            @*@Html.DisplayFor(model => model.ProfileImage)*@
            <img src="@Url.Content(@Model.ProfileImage)" width="50" height="50" />
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Dept)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Dept)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Startdate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div class="buttons">
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpId }, new{@class="btn btn-primary"}) 
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
</form>
</div>
